/* General Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* #ff702a */


/* General Options */
html{
    background: #112;
}

body{
    color: #fff;
    background-color: #112;
}


/* Header */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
    background-color: #112;
}

.logo{
    color: #ff702a;
    font-weight: 600px;
    font-size: 2.3rem;
}

.barra{
    display: flex;
}
.barra a{
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 300;
    transition: 150ms;
}
.barra a:hover{
    color: #ff702a;
    font-size: 1.2rem;
}

/* Home */
#home{
    display: flex;
    align-items: center;
    margin: 200px;
}
#home #caja-home h1{
    font-size: 5.0rem;
    color: #ff702a;
    width: 100%;
}
#home #caja-home p{
    font-size: 1.5rem;
    color: #fff;
}
#home #caja-home button{
    width: 40%;
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    background: #ff702a;
    color: #fff;
    border-radius: 100px;
    border: 1px solid #ff702a;
    transition: all 100ms;
}
#home #caja-home button:hover{
    box-shadow: 0px 0px 20px white;
}
#home #caja-home button:active{
    font-size: 15px;
}
#home .imagen{
    margin-left: 100px;
    padding-left: 200px;
    width: 50%;
    height: 400px;
}

#home .imagen img{
    max-width: 100%;
}

@media (max-width:500px) {
    .barra{
        display: none;
    }

    header{
        padding: 30px 20px;
    }

    
}