/* General Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    z-index: 0;
}

/* main color: #ff702a */
/* Texts colors: white */
/* background: #1e1c2a */

body{
    color: white;
    background: #1e1c2a ;
}

section{
    padding: 70px 17%;
}

/* HEader */
header{
    position: fixed; /* Cuando bajemos con scroll, el header también lo hará */
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    background: #1e1c2a;
    z-index: 100;
}

.logo{
    color: #ff702a;
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: 0px 0px 30px#f89564;
}

.barra-navegacion{
    display: flex;
}

.barra-navegacion a{
    color: whitesmoke;
    font-size: 1.3rem;
    padding: 10px 20px;
    text-shadow: 0px 0px 30px#ffffff;
    transition: color 10s;
    transition: font-size 150ms;
}
.barra-navegacion a:hover{
    font-size: 2rem;
    font-weight: 900;
    color: #f89564;
}

#menu-icon{
    display: none ;
    cursor: pointer;
    font-size: 1.5rem;
}

/* HOME */
#home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.3rem;
    align-items: center;
}

#home .image img{
    width: 700px;
    max-width: 100%;
    height: auto;
}

#home .text h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    color: #ff8143;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:-1px 0px 1px #bb3e00,
                -2px 0px 1px #bb3e00,
                -3px 0px 1px #bb3e00,
                -4px 0px 1px #bb3e00,
                -5px 0px 1px #bb3e00,
                -6px 0px 1px #bb3e00,
                -7px 0px 1px #bb3e00,
                -8px 0px 1px #bb3e00,
                -9px 0px 1px #bb3e00,
                -10px 0px 1px #bb3e00,
                -11px 0px 1px #bb3e00,
                -12px 0px 1px #bb3e00,
                -13px 0px 1px #bb3e00,
                -14px 0px 1px #bb3e00,
                -15px 0px 1px #bb3e00,
                -16px 0px 1px #bb3e00,
                -18px 0px 6px rgba(0, 0, 0, 0.4),
                -22px 0px 10px rgba(0, 0, 0, 0.5),
                -25px 0px 35px rgba(0, 0, 0, 0.5),
                -30px 0px 60px rgba(0, 0, 0, 0.5);               
}
#home .text h2{
    font-size: 2rem;
    margin: 100px 0 30px;
}

#home .text button{
    padding: 1rem 2rem;
    font-weight: 10;
    font-size: 1.5rem;
    border: #ff8143;
    border-radius: 100px;
    color: aliceblue;
    background: #ff702a;
}
#home .text button:hover{
    box-shadow: 0px 0px 20px #f89564;
}
#home .text button:active{
    box-shadow: none;
}

/* About */
#about{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5rem;
    align-items: center;
}

#about .text-about span{
    color: #ff702a;
}

#about .text-about h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin: 10px 0 30px;
    color: azure;
    text-shadow: 0px 0px 20px#ffffff;
}

#about .text-about p{
    font-size: 1rem;
    margin: 25px 0 30px;
}

#about .text-about button{
    padding: 1rem 2rem;
    font-weight: 10;
    font-size: 1.5rem;
    border: #ff8143;
    border-radius: 100px;
    color: aliceblue;
    background: #ff702a;
}
#about .text-about button:hover{
    box-shadow: 0px 0px 20px #f89564;
}
#about .text-about button:active{
    box-shadow: none;
}

/* Menu */
.text-menu{
    text-align: center;
}
.text-menu span{
    color: #ff702a;
}
.text-menu h1{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 20px #f89564;
}

.container-letters {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.container-letters > * {
    min-width: 220px;
    flex-grow: 1;
    margin: 1rem;
}

.container-letters .caja{
    position: relative;
    margin-top: 4rem;
    height: auto;
    background: bisque;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.imagen-caja{
    width:100%;
    height: 100%;
}

.caja h1{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1e1c2a;
}

.caja h2{
    font-size: 1rem;
    font-weight: 600;
    margin: 4px 0 15px;
    color: #1e1c2a;
}

.caja span{
    font-size: 1rem;
    color: #ff702a;
}

.caja .bx{
    background-color: #ff702a;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    padding: 10px 10px;
    border-radius: 15px;
}

.caja .bx:hover{
    cursor: pointer;
}

/* Services */
.text-services{
    text-align: center;
}

.text-services span{
    color: #ff702a;
    font-weight: 600;
}

.text-services h1{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 20px #ff8143;
}

.container-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

.caja .imagen-service{
    padding: 20px 30px;
    text-align: center;
}

.caja .imagen-service img{
    width: 90px;
}

.service-description{
    text-align: center;
    padding: 5px 30px;
}

.service-description h2{
    font-size: 1.5rem;
    color: #ff702a;
}

/* Service second container */
.service-container2{
    background: #feeee7;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ff8143;
}

.service-container2 h2{
    font-weight: bold;
    font-size: 3rem;
    color: #1e1c2a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.service-container2 button{
    padding: 20px 40px;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 200;
    background-color: #ff702a ;
    border-radius: 15px;
    border: 2px solid #ff702a;
    color: whitesmoke;
}
.service-container2 button:hover{
    box-shadow: 0px 0px 20px #ff8143;
}
.service-container2 button:active{
    box-shadow: none;
}

/* Contact */
.container-footer{
    display: flex;
    padding: 30px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-footer .content-foot h2 {
    font-size: 1.6rem;
    padding: 30px 0px;
    color: #ff702a;
    text-shadow: 0px 0px 20px #ff8143;
    animation: blinkTextShadow 500ms infinite alternate;
}

@keyframes blinkTextShadow {
    0% {
        text-shadow: 0px 0px 20px #ff8143;
    }
    100% {
        text-shadow: 0px 0px 20px transparent;
    }
}

.container-footer .content-foot ul li a{
    color: whitesmoke;
    font-size: 1.2rem;
}
.container-footer .content-foot ul li a:hover{
    font-size: 1.5rem;
    text-shadow: 0px 0px 20px#ff8143;
}

.container-footer .contact-us facebook, instagram, whatsaap{
    width: min-content;
}

#contact-links{
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
}


@media (max-width: 1500px) {
    header{
        padding: 15px 40px;
    }
}

@media (max-width: 1100px) {
    section{
        padding: 50px 8%;
    }   
    
    #menu-icon{
        display: initial;
        color: #ffffff; 
    }

    header .barra-navegacion{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #2b2640;
        transition: 3s;
    }
    header .barra-navegacion.active{
        top:70px;
    }
    .barra-navegacion a{
        padding: 1.5rem;
        display: block;
    }

}

@media (max-width:780px) {
    header{
        padding: 10px 16px;
    }

    body{
        width: min-content;
        display: grid;
        grid-template-columns: 1fr;
    }

    #home{
        display: grid;
        grid-template-columns: 1fr;
        width: min-content + 30px;

        margin-top: 30px;
        text-align: center;
        font-size: 10px;
    }

    #about{
        display: grid;
        grid-template-columns: 1fr;
        width: min-content;

        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }
    #about .image-about{
        order: 2;
    }

    #menu{
        margin-top: 500px;
    }

    #services{
        font-size: 1.5rem;
    }

    .service-container2{
        width: 100%;
        margin-left: 20px;
    }

    .service-container2 h2{
        font-size: 20px;
    }

    .container-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container-footer .content-foot h2{
        font-size: 3rem  ;
    }

    .container-footer .content-foot ul li a{
        font-size: 2rem;
    }
}